* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::after {
    content: '';
    background: url(./img/Без\ названия.png);
    position: absolute;
}

.entrance {
    display: flex;
    position: relative;
}

.container:nth-child(1) {
    background: #000C21;
}

.container:nth-child(1):after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(https://cube.getpitstop.com/assets/img/home-categories/Fitment.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.container:nth-child(2):after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    top: 70px;
    background: url(https://cube.getpitstop.com/assets/img/home-categories/Mechanical.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.container {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;
    gap: 10em;
    z-index: 1;
    a {
        position: relative;
        text-decoration: none;
        background: rgba($color: #000000, $alpha: .5);
        padding: 28px 60px;
        transition: 1s;
        overflow: hidden;
        span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.8em;
            letter-spacing: 4px;
            z-index: 1;
        }
    }
    a:hover {
        background: var(--clr);
        box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr), 0 0 100px var(--clr);
    }
    a::before {
        content: '';
        position: absolute;
        top: -150px;
        left: 178px;
        width: 40px;
        height: 400px;
        background: var(--clr);
        transition: .5s;
        animation: animate 2s linear infinite;
    }
    a:hover::before {
        width: 120%;
    }
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    a::after {
        content: '';
        position: absolute;
        inset: 4px;
        background: #0e1538;
    }
    a:hover::after {
        background: var(--clr);
    }
}

@media screen and (max-width: 680px) {
    .entrance {
        flex-direction: column;
        .container {
            width: 100%;
            min-height: 50vh;
            a {
                padding: 14px 30px;
                span {
                    font-size: .9em;
                    letter-spacing: 2px;
                }
            }
        }
        .container::after {
            width: 100px;
            height: 100px;
        }
    }
}